/** @format */

html,
body {
  margin: 0px;
}

#homePageLayout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 260px 1fr 150px;
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100vh;
  width: 100vw;
}

#header {
  grid-area: header;
  background-color: #002f4a;
  color: white;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid #000;
  padding: 20px;
}

#body {
  grid-area: main;
  background-color: #35f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer {
  grid-area: footer;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #000;
}

@media only screen and (max-width: 600px) {
  #homePageLayout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 150px;
    grid-template-areas:
      'header'
      'main'
      'footer';
    height: 100vh;
    width: 100vw;
  }

  #header {
    grid-area: header;
    background-color: #002f4a;
    color: white;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: 20px;
  }
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  body {
    background-color: blue;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
}
